.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 44px;
    background-color: var(--transparent-black);
    
    color: white;

    .navbar-title{
        font-size: 40px;

    }
}

.navbar-links{
    display: flex;
    gap: 20px;

    a{
        color: white;
        font-size: 20px;

        &.current-path{
            font-weight: bold;
            color: var(--primary-color);
        }

        &:hover{
            color: var(--primary-color);
        }
    }
}